@font-face {
  font-family: "TT Interfaces";
  src: url("../font/TTInterfaces-MediumItalic.eot");
  src: local("TT Interfaces Medium Italic"), local("TTInterfaces-MediumItalic"),
    url("../font/../font/TTInterfaces-MediumItalic.eot?#iefix")
      format("embedded-opentype"),
    url("../font/../font/TTInterfaces-MediumItalic.woff2") format("woff2"),
    url("../font/../font/TTInterfaces-MediumItalic.woff") format("woff"),
    url("../font/../font/TTInterfaces-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "TT Interfaces";
  src: url("../font/TTInterfaces-SemiBold.eot");
  src: local("TT Interfaces SemiBold"), local("TTInterfaces-SemiBold"),
    url("../font/TTInterfaces-SemiBold.eot?#iefix") format("embedded-opentype"),
    url("../font/TTInterfaces-SemiBold.woff2") format("woff2"),
    url("../font/TTInterfaces-SemiBold.woff") format("woff"),
    url("../font/TTInterfaces-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "TT Interfaces";
  src: url("../font/TTInterfaces-Medium.eot");
  src: local("TT Interfaces Medium"), local("TTInterfaces-Medium"),
    url("../font/TTInterfaces-Medium.eot?#iefix") format("embedded-opentype"),
    url("../font/TTInterfaces-Medium.woff2") format("woff2"),
    url("../font/TTInterfaces-Medium.woff") format("woff"),
    url("../font/TTInterfaces-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "TT Interfaces";
  src: url("../font/TTInterfaces-ExtraBold.eot");
  src: local("TT Interfaces ExtraBold"), local("TTInterfaces-ExtraBold"),
    url("../font/TTInterfaces-ExtraBold.eot?#iefix") format("embedded-opentype"),
    url("../font/TTInterfaces-ExtraBold.woff2") format("woff2"),
    url("../font/TTInterfaces-ExtraBold.woff") format("woff"),
    url("../font/TTInterfaces-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "TT Interfaces";
  src: url("../font/TTInterfaces-Bold.eot");
  src: local("TT Interfaces Bold"), local("TTInterfaces-Bold"),
    url("../font/TTInterfaces-Bold.eot?#iefix") format("embedded-opentype"),
    url("../font/TTInterfaces-Bold.woff2") format("woff2"),
    url("../font/TTInterfaces-Bold.woff") format("woff"),
    url("../font/TTInterfaces-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
